# Python
backend/venv/
backend/__pycache__/
*.pyc

# Database
backend/db.sqlite3

# Environment files
backend/.env
admin-web/.env

# React
admin-web/node_modules/
admin-web/build/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db 

# Root virtual environment
.venv/

# Mobile app
mobile-app/node_modules/
mobile-app/.expo/
mobile-app/.claude/